<div class="col-md-12">
    <hr>
    <div class="row">
        <div class="col-md-9">
            <h1 class="text-primary">The Streamer</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-primary" href="/upload">video Upload</a>
        </div>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-md-9" >
        <video controls width="100%"></video>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h3 class="text-primary">Playlist</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr (click)="playVideo(video.id)" class="playlist-item" *ngFor="let video of videoList">
                            <td>{{video.videoOriginalName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>