<div class="row">
    <div (click)="playVideo(videoItem)" class="col-md-3" *ngFor="let videoItem of videoList">
        <div class="card mb-3">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img-top" src="{{videoItem.imageUrl}}">
                    <span class="duration">{{videoItem.duration * 1000 | date: 'mm:ss' : 'UTC'}}</span>
                </div>
                <hr>
                <p>{{((videoItem.videoOriginalName).length>50) ? (videoItem.videoOriginalName | slice:0:50)+'..':(videoItem.videoOriginalName)}}</p>
            </div>
        </div>
    </div>
</div>