<div class="row">
    <div (click)="playVideo(videoItem)" class="col-md-3" *ngFor="let videoItem of videoList">
        <div class="card mb-3">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img-top" src="{{videoItem.imageUrl}}">
                    <span class="duration">{{videoDuration}}</span>
                </div>
                <hr>
                <p>{{videoItem.videoOriginalName}}</p>
            </div>
        </div>
    </div>
</div>