<div class="col-md-12">
        <hr>
        <div class="row">
            <div class="col-md-9">
                <h1 class="text-primary">The Streamer</h1>
            </div>
            <div class="col-md-3 text-right">
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
        <hr>
    </div>
<div class="row offset-md-3">
    <div class="col-md-12 p-0">
        <div class="text-center flex-column">
            <div class="col-md-8">
                <h1 class="display-4">Upload Videos</h1>
                <hr>
                <form (ngSubmit)="uploadFile()">
                    <div class="row">
                        <div class="form-group col-md-9">
                            <input type="file" (change)="onFileChange($event)" accept=".mp4,.flv,.m4a,.mkv,.webm" id="uploadfile" name="file">
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary" [disabled]="!selectedFile">upload</button>
                        </div>
                    </div>
                </form>
                <div class="progress-bar" role="progressbar" [style.width.%]="progress.percentage" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{progress.percentage}}%</div>
            </div>
        </div>
    </div>
</div>